{% extends "layouts/admin.njk" %}

{% set title = "Site Configuration" %}
{% set activePage = "site-config" %}

{% block page_header %}
<div class="page-header d-print-none mb-3">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="page-title">Site Configuration</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p class="m-0">Welcome back! Here is your high-level overview.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}